html {
    height: 100%;
    width: 100%;
    /* background-color: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.25), rgba(0,0,0,.5)); */
    background: linear-gradient(#0096c7, #023e8a);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #title {
    color: white;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
    /* text-decoration-line: overline underline;
    text-decoration-color: #0096c7;  
    text-decoration-style: dotted;  */
    text-shadow: 2px 2px #03045e;
  }
  
  #mainphoto {
    height: 300px;
    width: 400px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .nav {
    color: white;
    text-decoration: none;
    font-family: 'Brush Script MT';
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  a:hover {
    text-decoration: underline wavy #03045e;;
  }
  
  p {
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  body {
    padding-bottom: 20px;
  }
  
  #lore-title {
    color: white;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 2px 2px #03045e;
    text-decoration: underline dotted white 4px;
  }
  
  #artifacts-title {
    color: white;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 2px 2px #03045e;
    text-decoration: underline double white 4px;
  }
  #lore-photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  table{
  border-collapse:collapse;
  border:2px solid black;
  }
  
  table td{
  border:2px solid black;
  }
  
  .artifacts-photo {
    height: 300px;
    width: 300px;
    object-fit: fill;
  }
  
  .artifact-info {
    text-decoration: none;
    color: white;
  }
  .artifact-info:hover {
    text-decoration: underline wavy #03045e;
  }
  
  div {
    border: 2px solid white;
    border-radius: 5px;
   
  }
  
  ul > li {
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15px;
  }
  
  #artifacts-text {
    background-color: #023e8a;
    border: 2px solid #023e8a;
    border-radius: 5px;
    padding: 5px;
  }
  #main-text {
    background-color: #0096c7;
    border: 2px solid #0096c7;
    border-radius: 5px;
    padding: 5px;
    
  }

  label {
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 10px;
  }